<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление группы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Добавить новую группу</h1>
    <form action="/groups/add" method="post">
        <input type="text" name="groupNum" required th:pattern="${groupNum.toString()}" placeholder="Введите номер группы" class="form-control"><br>
        <input type="text" name="groupSem" required th:pattern="${groupSem.toString()}" placeholder="Введите номер семестра" class="form-control"><br>
        <input type="text" name="groupYear" required th:pattern="${groupYear.toString()}" placeholder="Введите год потока" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>

<footer th:insert="blocks/footer :: footer" ></footer>

</body>
</html>