<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<p class="aligncenter"><img src="/images/mem.png" width="990" height="690" alt="Новогодний мем"></p>

<style>
  .aligncenter {
    text-align: center;
  }
</style>

<footer th:insert="blocks/footer :: footer" ></footer>

</body>
</html>